.contain:after, .main:after, .siteHeader .siteHeader__filters:after, .link:after {
  content: "";
  display: table;
  clear: both; }

.red {
  background: #e11f1f; }

.orange {
  background: #e1701f; }

.yellow {
  background: #e1c01f; }

.lime {
  background: #b4e11f; }

.green {
  background: #60e11f; }

.blue {
  background: #1fa0e1; }

.turq {
  background: #1fe12c; }

.cyan {
  background: #1fe180; }

.indigo {
  background: #1f50e1; }

.violet {
  background: #3c1fe1; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

a {
  text-decoration: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  line-height: 1.85714; }

h1 {
  font-size: 31px;
  font-size: 1.9375rem; }

h2 {
  font-size: 27px;
  font-size: 1.6875rem; }

h3 {
  font-size: 24px;
  font-size: 1.5rem; }

h4 {
  font-size: 21px;
  font-size: 1.3125rem; }

h5 {
  font-size: 18px;
  font-size: 1.125rem; }

h6 {
  font-size: 16px;
  font-size: 1rem; }

p {
  font-size: 14px;
  font-size: 0.875rem; }

@font-face {
  font-family: "postocracy";
  src: url("../../fonts/postocracy.eot");
  src: url("../../fonts/postocracy.eot?#iefix") format("embedded-opentype"), url("../../fonts/postocracy.woff") format("woff"), url("../../fonts/postocracy.ttf") format("truetype"), url("../../fonts/postocracy.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal; }

[data-icon]:before {
  font-family: "postocracy" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "postocracy" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-heart:before {
  content: "f"; }

.icon-home:before {
  content: "g"; }

.icon-link:before {
  content: "h"; }

.icon-magnifying-glass:before {
  content: "i"; }

.icon-mail:before {
  content: "j"; }

.icon-x:before {
  content: "k"; }

.icon-widget:before {
  content: "l"; }

.icon-torso:before {
  content: "m"; }

.icon-trash:before {
  content: "n"; }

.icon-pencil:before {
  content: "o"; }

.icon-plus:before {
  content: "p"; }

.icon-flag:before {
  content: "q"; }

.icon-list-thumbnails:before {
  content: "r"; }

.icon-folder:before {
  content: "s"; }

.icon-check:before {
  content: "t"; }

.icon-arrow-up:before {
  content: "u"; }

.icon-arrow-down:before {
  content: "v"; }

.icon-dislike:before {
  content: "w"; }

.icon-like:before {
  content: "x"; }

.icon-share:before {
  content: "y"; }

.icon-alert:before {
  content: "z"; }

.icon-graph-pie:before {
  content: "A"; }

.icon-graph-bar:before {
  content: "B"; }

.icon-megaphone:before {
  content: "C"; }

.icon-comment:before {
  content: "e"; }

.icon-download:before {
  content: "D"; }

* {
  box-sizing: border-box; }

html, body, .container {
  height: 100%; }

body {
  background: #eee;
  font-family: 'Open Sans', sans-serif;
  color: #666;
  margin: 0;
  padding: 0; }

.container {
  padding-top: 62px; }
  @media (max-width: 767px) {
    .container {
      padding-top: 94px;
      width: 100%; } }

.contain {
  width: 100%;
  max-width: 1200px;
  position: relative;
  margin: auto; }

.main {
  width: 100%;
  max-width: 1200px;
  position: relative;
  margin: auto;
  padding: 0; }
  .main .main__feed {
    background: white;
    border-radius: 3px;
    width: 75%;
    float: left; }
    @media (max-width: 767px) {
      .main .main__feed {
        width: 100%;
        float: left; } }
  .main .main__sidebar {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    background: #34495e;
    width: 25%;
    float: left; }
    @media (max-width: 767px) {
      .main .main__sidebar {
        display: none; } }

.siteHeader {
  background: #e74c3c;
  color: white;
  text-align: right;
  position: fixed;
  width: 100%;
  top: 0px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  z-index: 999; }
  .siteHeader .siteHeader__title {
    margin: 0px;
    font-size: 20px;
    display: inline-block;
    font-weight: bold;
    line-height: 20px;
    padding: 20px;
    user-select: none;
    float: left;
    vertical-align: middle;
    -webkit-user-select: none; }
  .siteHeader .siteHeader__filters {
    float: left;
    display: inline-block; }
    .siteHeader .siteHeader__filters a {
      color: white;
      display: inline-block;
      padding: 3px 10px;
      margin: 15px 5px;
      font-size: 14px;
      min-width: 75px;
      border-radius: 3px;
      text-align: center; }
      .siteHeader .siteHeader__filters a.active, .siteHeader .siteHeader__filters a:hover {
        background: #d62a1a; }
    @media (max-width: 767px) {
      .siteHeader .siteHeader__filters {
        float: none;
        display: block;
        clear: left;
        background: #34495e; }
        .siteHeader .siteHeader__filters a {
          padding: 5px;
          margin: 0;
          width: 33.3%;
          display: block;
          float: left;
          border-radius: 0; }
          .siteHeader .siteHeader__filters a.active, .siteHeader .siteHeader__filters a:hover {
            background: #222f3d; } }
  .siteHeader .menuButton {
    display: none;
    -webkit-appearance: none; }
    @media (max-width: 767px) {
      .siteHeader .menuButton {
        display: inline-block;
        padding: 17px 20px;
        margin: 0; } }

.navigation {
  display: none; }
  @media (max-width: 767px) {
    .navigation {
      display: block;
      position: fixed;
      top: 60px;
      right: -100%;
      bottom: 0px;
      width: 100%;
      background: #ccc;
      z-index: 1000;
      transition: right 200ms cubic-bezier(0.4, 0, 0.2, 1);
      -webkit-transition: right 200ms cubic-bezier(0.4, 0, 0.2, 1);
      -moz-transition: right 200ms cubic-bezier(0.4, 0, 0.2, 1); }
      .navigation.active {
        right: 0px;
        transition: right 200ms cubic-bezier(0.4, 0, 0.2, 1);
        -webkit-transition: right 200ms cubic-bezier(0.4, 0, 0.2, 1);
        -moz-transition: right 200ms cubic-bezier(0.4, 0, 0.2, 1); } }
  .navigation .actionsList {
    background: #34495e;
    margin-right: 0; }
    .navigation .actionsList a {
      width: 25%;
      display: inline-block;
      text-align: center;
      border-right: 1px solid rgba(0, 0, 0, 0.25);
      border-top: 1px solid rgba(0, 0, 0, 0.25);
      border-bottom: 1px solid rgba(0, 0, 0, 0.25); }
      .navigation .actionsList a:active, .navigation .actionsList a:hover {
        background: #10161c; }
    .navigation .actionsList a:last-child {
      border-right: none; }
  .navigation .channels {
    box-shadow: none; }

.link {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  border-bottom: 1px solid #efefef;
  line-height: 1; }
  .link .link__rank {
    font-size: 18px;
    font-weight: bold;
    color: #aaa;
    line-height: 18px;
    vertical-align: middle;
    padding-right: 20px;
    display: table-cell; }
    .link .link__rank .link__upvote, .link .link__rank .link__downvote, .link .link__rank .link__rankNumber {
      display: block;
      line-height: 1;
      font-size: 14px;
      color: #aaa;
      text-align: center; }
    .link .link__rank .link__upvote {
      padding-bottom: 2px; }
    .link .link__rank .link__downvote {
      margin-top: 5px; }
    @media (max-width: 767px) {
      .link .link__rank {
        font-size: 16px; } }
  .link .link__content {
    display: table-cell;
    vertical-align: top; }
  .link .link__title {
    font-size: 18px;
    display: block;
    color: #34495e;
    font-weight: bold; }
    @media (max-width: 767px) {
      .link .link__title {
        font-size: 16px; } }
  .link .link__addedby {
    display: block;
    font-size: 12px;
    color: #666;
    margin-top: 5px; }
    .link .link__addedby .link__user {
      color: #e74c3c; }
  .link .link__actions .link__action {
    display: inline-block;
    color: #e74c3c;
    font-weight: bold;
    font-size: 12px;
    padding-right: 10px; }

.channels {
  background: white;
  margin: 10px;
  border-radius: 3px; }
  .channels .channels__header {
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    color: #e74c3c; }
  .channels .channels__list {
    padding: 10px 10px; }
    .channels .channels__list li a {
      font-size: 14px;
      width: 100%;
      padding: 5px 10px;
      display: block;
      color: #34495e;
      border-radius: 3px; }
      .channels .channels__list li a.active, .channels .channels__list li a:hover {
        font-weight: bold;
        background: #eee; }
  .channels .channels__actions {
    padding: 20px; }
    .channels .channels__actions .channels__create {
      width: 100%; }

.button, .button__primary, .channels .channels__actions .channels__create, .accountBox .account__actions .account__action {
  background: #34495e;
  box-shadow: 0px 3px 0px #222f3d;
  border: 0;
  border-radius: 3px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  outline: none; }
  .button:hover, .button__primary:hover, .channels .channels__actions .channels__create:hover, .accountBox .account__actions .account__action:hover {
    background: #222f3d;
    box-shadow: 0px 3px 0px #10161c; }
  .button:active, .button__primary:active, .channels .channels__actions .channels__create:active, .accountBox .account__actions .account__action:active {
    position: relative;
    top: 2px;
    box-shadow: none; }

.button__primary, .channels .channels__actions .channels__create, .accountBox .account__actions .account__action {
  background: #e74c3c;
  box-shadow: 0px 3px 0px #d62a1a; }
  .button__primary:hover, .channels .channels__actions .channels__create:hover, .accountBox .account__actions .account__action:hover {
    background: #d62a1a;
    box-shadow: 0px 3px 0px #a82115; }
  .button__primary:active, .channels .channels__actions .channels__create:active, .accountBox .account__actions .account__action:active {
    position: relative;
    top: 2px;
    box-shadow: none; }

.menuButton {
  background: none;
  border: none;
  outline: none; }

.actionsList {
  margin-right: 20px; }
  .actionsList a {
    font-size: 20px;
    color: white;
    padding: 22px 20px 18px;
    line-height: 20px;
    display: inline-block; }
    .actionsList a:active, .actionsList a:hover {
      background: #d62a1a; }
    @media (max-width: 767px) {
      .actionsList a {
        display: none; } }

.accountBox {
  background: white;
  margin: 10px 10px 0px;
  border-radius: 3px; }
  @media (max-width: 767px) {
    .accountBox {
      margin-bottom: 0px;
      box-shadow: none; } }
  .accountBox .account__header {
    font-size: 16px;
    font-weight: bold;
    background: #34495e;
    padding: 10px 20px;
    color: white; }
  .accountBox .account__body {
    padding: 10px 10px; }
  .accountBox .account__actions {
    padding: 20px; }
    .accountBox .account__actions .account__action {
      width: 100%;
      display: inline-block;
      text-align: center;
      line-height: 1.2; }
  .accountBox .account__photo {
    display: table-cell; }
    .accountBox .account__photo img {
      border-radius: 10px;
      border: 4px solid #e74c3c;
      margin: 5px;
      display: block; }
  .accountBox .account__user {
    display: table-cell;
    vertical-align: top; }
    .accountBox .account__user .account__displayName {
      font-size: 20px;
      font-weight: bold;
      line-height: 1;
      margin: 15px 10px 0px 10px; }
    .accountBox .account__user .account__userName {
      color: #34495e;
      margin: 0px 10px; }
    .accountBox .account__user .account__subactions {
      margin: 0px 10px;
      line-height: 1; }
      .accountBox .account__user .account__subactions a {
        display: inline-block;
        color: #e74c3c;
        font-weight: bold;
        font-size: 12px;
        line-height: 1;
        margin: 0px 5px 0px 0px; }

.searchBox {
  float: right; }
  @media (max-width: 767px) {
    .searchBox {
      display: none; } }
  .searchBox .searchBox__searchInput {
    padding: 10px;
    position: relative;
    z-index: 1; }
    .searchBox .searchBox__searchInput .searchBox__input {
      width: 280px;
      padding: 10px 66px 10px 10px;
      outline: none;
      font-size: 16px;
      border: 0;
      margin: 0;
      border: 1px solid #eee;
      border-radius: 3px;
      -webkit-appearance: none;
      transition: width 200ms cubic-bezier(0.4, 0, 0.2, 1);
      -webkit-transition: width 200ms cubic-bezier(0.4, 0, 0.2, 1);
      -moz-transition: width 200ms cubic-bezier(0.4, 0, 0.2, 1); }
      .searchBox .searchBox__searchInput .searchBox__input:focus {
        width: 300px; }
    .searchBox .searchBox__searchInput i {
      display: inline-block;
      top: 12px;
      position: absolute;
      right: 20px;
      font-size: 24px;
      color: #e74c3c; }
