.contain:after, .main:after, .siteHeader .siteHeader__filters:after, .link:after {
  content: "";
  display: table;
  clear: both; }

.red {
  background: #e11f1f; }

.orange {
  background: #e1701f; }

.yellow {
  background: #e1c01f; }

.lime {
  background: #b4e11f; }

.green {
  background: #60e11f; }

.blue {
  background: #1fa0e1; }

.turq {
  background: #1fe12c; }

.cyan {
  background: #1fe180; }

.indigo {
  background: #1f50e1; }

.violet {
  background: #3c1fe1; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

a {
  text-decoration: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  line-height: 1.85714; }

h1 {
  font-size: 31px;
  font-size: 1.9375rem; }

h2 {
  font-size: 27px;
  font-size: 1.6875rem; }

h3 {
  font-size: 24px;
  font-size: 1.5rem; }

h4 {
  font-size: 21px;
  font-size: 1.3125rem; }

h5 {
  font-size: 18px;
  font-size: 1.125rem; }

h6 {
  font-size: 16px;
  font-size: 1rem; }

p {
  font-size: 14px;
  font-size: 0.875rem; }

@font-face {
  font-family: "postocracy";
  src: url("../../fonts/postocracy.eot");
  src: url("../../fonts/postocracy.eot?#iefix") format("embedded-opentype"), url("../../fonts/postocracy.woff") format("woff"), url("../../fonts/postocracy.ttf") format("truetype"), url("../../fonts/postocracy.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal; }

[data-icon]:before {
  font-family: "postocracy" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "postocracy" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-heart:before {
  content: "f"; }

.icon-home:before {
  content: "g"; }

.icon-link:before {
  content: "h"; }

.icon-magnifying-glass:before {
  content: "i"; }

.icon-mail:before {
  content: "j"; }

.icon-x:before {
  content: "k"; }

.icon-widget:before {
  content: "l"; }

.icon-torso:before {
  content: "m"; }

.icon-trash:before {
  content: "n"; }

.icon-pencil:before {
  content: "o"; }

.icon-plus:before {
  content: "p"; }

.icon-flag:before {
  content: "q"; }

.icon-list-thumbnails:before {
  content: "r"; }

.icon-folder:before {
  content: "s"; }

.icon-check:before {
  content: "t"; }

.icon-arrow-up:before {
  content: "u"; }

.icon-arrow-down:before {
  content: "v"; }

.icon-dislike:before {
  content: "w"; }

.icon-like:before {
  content: "x"; }

.icon-share:before {
  content: "y"; }

.icon-alert:before {
  content: "z"; }

.icon-graph-pie:before {
  content: "A"; }

.icon-graph-bar:before {
  content: "B"; }

.icon-megaphone:before {
  content: "C"; }

.icon-comment:before {
  content: "e"; }

.icon-download:before {
  content: "D"; }

* {
  box-sizing: border-box; }

html, body, .container {
  height: 100%; }

body {
  background: #eee;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0; }

.container {
  padding-top: 64px; }
  @media (max-width: 767px) {
    .container {
      padding-top: 94px; } }

.contain {
  width: 100%;
  max-width: 1240px;
  position: relative;
  margin: auto; }

.main {
  width: 100%;
  max-width: 1240px;
  margin: auto;
  padding: 20px; }
  .main .main__feed {
    background: white;
    border-radius: 3px;
    padding-left: 20px;
    padding-right: 20px;
    width: 66.66667%;
    float: left;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25); }
    @media (max-width: 767px) {
      .main .main__feed {
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
        float: left; } }
  .main .main__sidebar {
    width: 33.33333%;
    float: left;
    padding-left: 20px; }
    @media (max-width: 767px) {
      .main .main__sidebar {
        display: none; } }

.siteHeader {
  background: #e11f1f;
  color: white;
  text-align: right;
  position: fixed;
  width: 100%;
  top: 0px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); }
  .siteHeader .siteHeader__title {
    margin: -2px 0px 2px;
    font-size: 20px;
    display: inline-block;
    font-weight: bold;
    line-height: 20px;
    padding: 20px;
    user-select: none;
    float: left;
    -webkit-user-select: none; }
  .siteHeader .siteHeader__actions {
    margin-right: 20px; }
    .siteHeader .siteHeader__actions a {
      font-size: 20px;
      color: white;
      padding: 22px 20px 18px;
      line-height: 20px;
      display: inline-block; }
      .siteHeader .siteHeader__actions a:active, .siteHeader .siteHeader__actions a:hover {
        background: #b51818; }
      @media (max-width: 767px) {
        .siteHeader .siteHeader__actions a {
          display: none; } }
  .siteHeader .siteHeader__filters {
    float: left;
    display: inline-block; }
    .siteHeader .siteHeader__filters a {
      color: white;
      display: inline-block;
      padding: 3px 10px;
      margin: 14px 5px;
      font-size: 14px;
      min-width: 75px;
      border-radius: 3px;
      text-align: center; }
      .siteHeader .siteHeader__filters a.active, .siteHeader .siteHeader__filters a:hover {
        background: #b51818; }
    @media (max-width: 767px) {
      .siteHeader .siteHeader__filters {
        float: none;
        display: block;
        clear: left;
        background: #1fa0e1; }
        .siteHeader .siteHeader__filters a {
          padding: 5px;
          margin: 0;
          width: 33.3%;
          display: block;
          float: left;
          border-radius: 0; }
          .siteHeader .siteHeader__filters a.active, .siteHeader .siteHeader__filters a:hover {
            background: #1881b5; } }

nav {
  position: fixed;
  bottom: 0px;
  left: 0px;
  background: #5677fc;
  width: 100%;
  text-align: center; }
  nav button {
    position: relative;
    display: inline-block;
    padding: 20px;
    margin: 0;
    border: 0;
    background: none;
    outline: none; }

nav ul {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  background: #eee;
  max-height: 0px;
  border-top: 5px solid #5677fc;
  overflow: hidden;
  transition: all 200ms ease; }
  nav ul.active {
    max-height: 240px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    transition: all 200ms ease; }
  nav ul li {
    list-style-type: none;
    display: block;
    border-bottom: 1px solid #ddd; }
    nav ul li a {
      color: #5677fc;
      display: block;
      text-decoration: none;
      line-height: 24px;
      padding: 20px; }
      nav ul li a:hover {
        background: rgba(0, 0, 0, 0.1); }

.link {
  width: 100%;
  max-width: 1240px;
  padding: 20px 0px;
  border-bottom: 1px solid #efefef;
  line-height: 1; }
  .link .link__rank {
    font-size: 18px;
    font-weight: bold;
    color: #aaa;
    line-height: 18px;
    vertical-align: middle;
    padding-right: 20px;
    display: table-cell; }
    .link .link__rank .link__upvote, .link .link__rank .link__downvote, .link .link__rank .link__rankNumber {
      display: block;
      font-size: 18px;
      color: #aaa;
      text-align: center; }
    .link .link__rank .link__upvote {
      padding-bottom: 2px; }
    .link .link__rank .link__downvote {
      margin-top: 5px; }
    @media (max-width: 767px) {
      .link .link__rank {
        font-size: 16px; } }
  .link .link__content {
    display: table-cell;
    vertical-align: top; }
  .link .link__title {
    font-size: 18px;
    display: block;
    color: #1fa0e1;
    font-weight: bold; }
    @media (max-width: 767px) {
      .link .link__title {
        font-size: 16px; } }
  .link .link__addedby {
    display: block;
    font-size: 12px;
    color: #666;
    margin-top: 5px; }
    .link .link__addedby .link__user {
      color: #e11f1f; }
  .link .link__actions .link__action {
    display: inline-block;
    color: #e11f1f;
    font-weight: bold;
    font-size: 12px;
    padding-right: 10px; }

.channels {
  background: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  border-radius: 3px; }
  .channels .channels__header {
    font-size: 16px;
    font-weight: bold;
    background: #1fa0e1;
    padding: 10px 20px;
    color: white; }
  .channels .channels__list {
    padding: 10px 10px; }
    .channels .channels__list li a {
      font-size: 14px;
      width: 100%;
      padding: 5px 10px;
      display: block;
      color: #1fa0e1;
      border-radius: 3px; }
      .channels .channels__list li a.active, .channels .channels__list li a:hover {
        font-weight: bold;
        background: #eee; }
  .channels .channels__actions {
    padding: 20px;
    border-top: 1px solid #efefef; }
    .channels .channels__actions .channels__create {
      width: 100%; }

.button, .button__primary, .channels .channels__actions .channels__create {
  background: #1fa0e1;
  box-shadow: 0px 3px 0px #126188;
  border: 0;
  border-radius: 3px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  outline: none; }
  .button:hover, .button__primary:hover, .channels .channels__actions .channels__create:hover {
    background: #1881b5;
    box-shadow: 0px 3px 0px #0c415b; }
  .button:active, .button__primary:active, .channels .channels__actions .channels__create:active {
    position: relative;
    top: 2px;
    box-shadow: none; }

.button__primary, .channels .channels__actions .channels__create {
  background: #e11f1f;
  box-shadow: 0px 3px 0px #881212; }
  .button__primary:hover, .channels .channels__actions .channels__create:hover {
    background: #b51818;
    box-shadow: 0px 3px 0px #5b0c0c; }
  .button__primary:active, .channels .channels__actions .channels__create:active {
    position: relative;
    top: 2px;
    box-shadow: none; }
