.actionsList {
    margin-right: 20px;
    a {
        font-size: 20px;
        color: white;
        padding: 22px 20px 18px;
        line-height: 20px;
        display: inline-block;
        &:active, &:hover {
            background: darken($primary,10%);
        }
        @include breakpoint($mobile) {
            display: none;
        }
    }
}