.button {
  background: $secondary;
  box-shadow: 0px 3px 0px darken($secondary, 20%);
  border: 0;
  border-radius: 3px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  outline: none;
  &:hover {
    background: darken($secondary, 10%);
    box-shadow: 0px 3px 0px darken($secondary, 30%);
  }
  &:active {
    position: relative;
    top: 2px;
    box-shadow: none;
  }
}

.button__primary {
  @extend .button;
  background: $primary;
  box-shadow: 0px 3px 0px darken($primary, 20%);
  &:hover {
    background: darken($primary, 10%);
    box-shadow: 0px 3px 0px darken($primary, 30%);
  }
  &:active {
    position: relative;
    top: 2px;
    box-shadow: none;
  }
}