.channels {
  background: white;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.25);
  border-radius: 3px;
  .channels__header {
    font-size: 16px;
    font-weight: bold;
    background: $secondary;
    padding: 10px 20px;
    color: white;
  }
  .channels__list {
    padding: 10px 20px;
    li a {
      font-size: 14px;
      color: $secondary;
      &.active {
        font-weight: bold;
      }
    }
  }
  .channels__actions {
    padding: 20px;
    border-top: 1px solid #efefef;
    .channels__create {
      @extend .button__primary;
      width: 100%;
    }
  }
}