.main__feed--form {
  h2 {
    padding: 20px 40px;
    @include breakpoint($mobile){
      padding: 20px 20px;
    }
    font-weight: bold;
  }
  form {
    padding: 0px 40px;
    @include breakpoint($mobile){
      padding: 0px 20px;
    }
    .channel__error {
      color: darken($red, 10%);
      display: block;
      font-size: 14px;
      clear: left;
      i {
        line-height: 1;
        vertical-align: middle;
        margin-right: 5px;
      }
    }
    input, label,button {
      display: block;
    }
    input,textarea {
      outline: none;
      font-size: 16px;
      border: 1px solid #ddd;
      border-radius: 3px;
      -webkit-appearance: none;
      padding: 10px;
      min-width: 250px;
      float: left;
      clear: left;
    }
    input {
      margin-bottom: 10px;
      @include breakpoint($mobile){
        width: 100%;
      }
      &.invalid {
        border-color: darken($red, 10%);
      }
    }
    textarea {
      font-family: inherit;
      font-size: inherit;
      width: 100%;
      display: block;
      @include breakpoint($mobile){
        width: 100%;
      }
    }
    label {
      margin-bottom: 10px;
      clear: left;
    }
    button {
      @extend .button;
      cursor: pointer;
      clear: left;
      margin: 20px 0px;
      float: left;
      display: block;
      @include breakpoint($mobile){
        width: 100%;
      }
    }
  }
}