.channels {
  background: white;
  margin: 10px;
  border-radius: 3px;
  .channels__header {
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    color: $primary;
  }
  .channels__list {
    padding: 10px 10px;
    li a {
      font-size: 14px;
      width: 100%;
      padding: 5px 10px;
      display: block;
      color: $secondary;
      border-radius: 3px;
      &.active, &:hover {
        font-weight: bold;
        background: $tertiary;
      }
    }
  }
  .channels__actions {
    padding: 20px;
    .channels__create {
      @extend .button__primary;
      font-size: 16px;
      width: 100%;
      line-height: 1;
      display: block;
      text-align: center;
    }
  }
}