.siteHeader {
    background: $primary;
    color: white;
    text-align: right;
    position: fixed;
    width: 100%;
    top: 0px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    .siteHeader__title {
        margin: -2px 0px 2px;
        font-size: 20px;
        display: inline-block;
        font-weight: bold;
        line-height: 20px;
        padding: 20px;
        user-select: none;
        float: left;
        -webkit-user-select: none;
    }
    .siteHeader__filters {
        float: left;
        display: inline-block;
        a {
            color: white;
            line-height: 20px;
            display: inline-block;
            padding: 20px 10px;
            font-size: 14px;
            min-width: 75px;
            text-align: center;
            &.active, &:hover {
                background: darken($primary, 10%);
            }
        }
        @include breakpoint($mobile) {
            @include clear();
            float: none;
            display: block;
            clear: left;
            background: darken($primary, 10%);
            a {
                padding: 5px;
                width: 33.3%;
                display: block;
                float: left;
                &.active, &:hover {
                    background: darken($primary, 20%);
                }
            }
        }
    }
}