* {
    box-sizing: border-box;
}

html, body, .container {
    height: 100%;
}

body {
    background: $tertiary;
    font-family: 'Open Sans', sans-serif;
    color: #666;
    margin: 0;
    padding: 0;
}

.container {
    padding-top: 62px;
    @include breakpoint($mobile){
      padding-top: 94px;
      width: 100%;
    }
}

.contain {
  @include container;
  position: relative;
  margin: auto;
}

.main {
  @include container;
  position: relative;
  margin: auto;
  padding: 0;
  .main__feed {
    background: white;
    border-radius: 3px;
    @include span(12, false);
    padding-right: 300px;
    @include breakpoint($mobile){
      @include span(12, false);
      padding-right: 0px;
    }
  }
  .main__sidebar {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    background: $secondary;
    width: 300px;
    @include breakpoint($mobile){
      display: none;
    }
  }
}