* {
    box-sizing: border-box;
}

html, body, .container {
    height: 100%;
}

body {
    background: #eee;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    padding-top: 64px;
}

.contain {
  @include container;
  position: relative;
  margin: auto;
}

.main {
  @include container;
  margin: auto;
  padding: 20px;
  .main__feed {
    background: white;
    @include span(8);
    box-shadow: 0px 0px 5px rgba(0,0,0,0.25);
    @include breakpoint($mobile){
      @include span(12);
    }
  }
  .main__sidebar {
    @include span(4, false);
    padding-left: 20px;
    @include breakpoint($mobile){
      display: none;
    }
  }
}