@font-face {
  font-family: "postocracy";
  src:url("../../fonts/postocracy.eot");
  src:url("../../fonts/postocracy.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/postocracy.woff") format("woff"),
    url("../../fonts/postocracy.ttf") format("truetype"),
    url("../../fonts/postocracy.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "postocracy" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "postocracy" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-heart:before {
  content: "f";
}
.icon-home:before {
  content: "g";
}
.icon-link:before {
  content: "h";
}
.icon-magnifying-glass:before {
  content: "i";
}
.icon-mail:before {
  content: "j";
}
.icon-x:before {
  content: "k";
}
.icon-widget:before {
  content: "l";
}
.icon-torso:before {
  content: "m";
}
.icon-trash:before {
  content: "n";
}
.icon-pencil:before {
  content: "o";
}
.icon-plus:before {
  content: "p";
}
.icon-flag:before {
  content: "q";
}
.icon-list-thumbnails:before {
  content: "r";
}
.icon-folder:before {
  content: "s";
}
.icon-check:before {
  content: "t";
}
.icon-arrow-up:before {
  content: "u";
}
.icon-arrow-down:before {
  content: "v";
}
.icon-dislike:before {
  content: "w";
}
.icon-like:before {
  content: "x";
}
.icon-share:before {
  content: "y";
}
.icon-alert:before {
  content: "z";
}
.icon-graph-pie:before {
  content: "A";
}
.icon-graph-bar:before {
  content: "B";
}
.icon-megaphone:before {
  content: "C";
}
.icon-comment:before {
  content: "e";
}
.icon-download:before {
  content: "D";
}
